# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# https://docs.github.com/en/actions/guides/publishing-docker-images
# https://github.com/docker/build-push-action/blob/master/docs/advanced/share-image-jobs.md
name: unit-testing
on: [push]

jobs:
  build:
    runs-on: ubuntu-18.04
    name: ${{ matrix.DATASET }}
    strategy:
      matrix:
        DATASET:
          - datasets/Dataset4.tsv
          - datasets/Dataset5.tsv
          - datasets/sars-cov-2-coronahit-rapid.tsv
          - datasets/sars-cov-2-coronahit-routine.tsv
          - datasets/sarscov2-SNF-A.tsv
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: apt-get
        run:  sudo apt-get install ca-certificates sra-toolkit ncbi-entrez-direct
      - name: install bats-core
        run:  |
          git clone https://github.com/bats-core/bats-core.git
          cd bats-core
          sudo ./install.sh /usr/local
          cd -
          # test the command
          which bats
          bats -h
      - name: env
        run:  |
          pwd
          tree -d
      - name: unit testing - just env
        run:  |
          bats t/00_env.bats
      - name: abbreviated unit testing with ${{ matrix.DATASET }}
        run:  |
          export NCBI_API_KEY=${{ secrets.NCBI_API_KEY }}
          if [[ -z "$NCBI_API_KEY" ]]; then echo "NCBI_API_KEY not found in github secrets!"; fi;
          # Get the header and just two samples for the abbreviated test
          grep -B 999 -A 2 biosample_acc ${{ matrix.DATASET }} > ${{ matrix.DATASET }}.short
          export DATASET=$(realpath ${{ matrix.DATASET }}).short
          echo "Abbreviated dataset: $DATASET"
          echo "DEBUG: allowing for error exit code in TAP"
          bats t/* || true
      - name: full unit testing with ${{ matrix.DATASET }}
        run:  |
          export NCBI_API_KEY=${{ secrets.NCBI_API_KEY }}
          if [[ -z "$NCBI_API_KEY" ]]; then echo "# NCBI_API_KEY not found in github secrets!"; fi;
          echo "Full dataset: ${{ matrix.DATASET }}"
          export DATASET=$(realpath ${{ matrix.DATASET }})
          echo "DEBUG: allowing for error exit code in TAP"
          bats t/* || true

